librosa
inquirer
statsmodels
matplotlib
pygame
webrtcvad
scipy
numpy
tqdm
# libsndfile
demucs
pyloudnorm
essentia
# Linux: sudo apt-get install ffmpeg
# MacOS: brew install ffmpeg
# Windows: choco install ffmpeg